#navbar{
   background-color: #0f1111;
   height: 60px;
}
button{
   background-color: #f08804;
   margin: 0px;

}
   
#logo{
   color: chocolate;
   font-size: 25px;
   padding-left: 0px;
}
a{
   color: white;
   padding-left: 200px;
   text-decoration: none;
}
